<!DOCTYPE html>
<html>
<head>
  <title>Binaural spatialization (proxy)</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/examples.css">
  <style>
  .three {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .content {
    position: relative;
  }

  .x-controls {
    opacity: 0.5;
    pointer-events: none;
  }
  </style>
  <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
  <script src="https://rawgit.com/dbradleyfl/aframe-gridhelper/master/dist/aframe-gridhelper-component.min.js"></script>
</head>
<body>
  <div class="three">
    <a-scene gridhelper>
      <a-entity class="look" camera="fov: 50; userHeight: 1.6" look-controls></a-entity>
      <a-sky color="#fafafa"></a-sky>
      <a-box class="box" color="#0055a6" position="-3 1.6 -5" rotation="0 45 45" scale="1 1 1"></a-box>
    </a-scene>
  </div>

  <div class="content">
    <h1>Binaural spatialization (proxy)</h1>

    <label class="x-controls">
      <code>x</code>
      <input type="range" name="x" value="-3" min="-40" max="40" step="0.1" class="config" />
    </label>

    <label>
      <code>y</code>
      <input type="range" name="y" value="1.6" min="-40" max="40" step="0.1" class="config" />
    </label>

    <label>
      <code>z</code>
      <input type="range" name="z" value="-5" min="-40" max="40" step="0.1" class="config" />
    </label>

    <button class="start" disabled>Start</button>
  </div>

  <script src="<%= TOOLKIT_JS_PATH %>/3dti-toolkit-binaural.js"></script>
  <script src="binaural.example.bundle.js"></script>
</body>
</html>
