<!DOCTYPE html>
<html>
<head>
  <title>Hearing aid simulator example</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/examples.css">
</head>
<body>
  <div class="content wide">
    <h1>Hearing aid simulator example</h1>

    <p class="warning">Be aware of loud popping when changing filter cutoff and q values!</p>

    <label>
      <input type="checkbox" checked name="processLeft" class="config" />
      Left ear
    </label>

    <label>
      <input type="checkbox" checked name="processRight" class="config" />
      Right ear
    </label>

    <div class="panel">
      <fieldset>
        <legend>Audiogram</legend>

        <div class="panel audiogram">
          <label>62.5 <input type="range" orient="vertical" name="audiogram.62" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>125 <input type="range" orient="vertical" name="audiogram.125" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>250 <input type="range" orient="vertical" name="audiogram.250" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>500 <input type="range" orient="vertical" name="audiogram.500" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>1000 <input type="range" orient="vertical" name="audiogram.1000" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>2000 <input type="range" orient="vertical" name="audiogram.2000" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>4000 <input type="range" orient="vertical" name="audiogram.4000" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>8000 <input type="range" orient="vertical" name="audiogram.8000" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>
          <label>16000 <input type="range" orient="vertical" name="audiogram.16000" class="config" min="0" max="120" value="0" step="10" list="tickmarks" /></label>

          <datalist id="tickmarks">
            <option value="0" />
            <option value="10" />
            <option value="20" />
            <option value="30" />
            <option value="40" />
            <option value="50" />
            <option value="60" />
            <option value="70" />
            <option value="80" />
            <option value="90" />
            <option value="100" />
            <option value="110" />
            <option value="120" />
          </datalist>
        </div>
      </fieldset>
    </div>

    <div class="panel">
      <fieldset>
        <legend>Lowpass Filter</legend>

        <label>Cutoff frequency <input type="range" name="filter.lpf.freq" class="config" min="20" max="20000" value="20000" /></label>
        <label>Q <input type="range" name="filter.lpf.q" class="config" min="0.1" max="20" step="0.1" value="0.7" /></label>
      </fieldset>

      <fieldset>
        <legend>Highpass Filter</legend>

        <label>Cutoff frequency <input type="range" name="filter.hpf.freq" class="config" min="20" max="20000" value="20" /></label>
        <label>Q <input type="range" name="filter.hpf.q" class="config" min="0.1" max="20" step="0.1" value="0.7" /></label>
      </fieldset>
    </div>

    <button class="start">Start</button>
  </div>

  <script src="<%= TOOLKIT_JS_PATH %>/3dti-toolkit.js"></script>
  <script src="has.example.bundle.js"></script>
</body>
</html>
