<!DOCTYPE html>
<html>
<head>
  <title>Hearing aid simulator example</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/examples.css">
</head>
<body class="wide">
  <h1>Hearing aid simulator example</h1>

  <label>
    <input type="checkbox" checked name="processLeft" class="config" />
    Process left
  </label>

  <label>
    <input type="checkbox" checked name="processRight" class="config" />
    Process right
  </label>

  <div class="panel">
    <fieldset>
      <legend>Filter (Left)</legend>

      <div class="panel filter-bands">
        <label>125 <input type="range" orient="vertical" name="filter.left.125" class="config" min="-20" max="20" value="0" /></label>
        <label>250 <input type="range" orient="vertical" name="filter.left.250" class="config" min="-20" max="20" value="0" /></label>
        <label>500 <input type="range" orient="vertical" name="filter.left.500" class="config" min="-20" max="20" value="0" /></label>
        <label>1000 <input type="range" orient="vertical" name="filter.left.1000" class="config" min="-20" max="20" value="0" /></label>
        <label>2000 <input type="range" orient="vertical" name="filter.left.2000" class="config" min="-20" max="20" value="0" /></label>
        <label>4000 <input type="range" orient="vertical" name="filter.left.4000" class="config" min="-20" max="20" value="0" /></label>
        <label>8000 <input type="range" orient="vertical" name="filter.left.8000" class="config" min="-20" max="20" value="0" /></label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Filter (Right)</legend>

      <div class="panel filter-bands">
        <label>125 <input type="range" orient="vertical" name="filter.right.125" class="config" min="-20" max="20" value="0" /></label>
        <label>250 <input type="range" orient="vertical" name="filter.right.250" class="config" min="-20" max="20" value="0" /></label>
        <label>500 <input type="range" orient="vertical" name="filter.right.500" class="config" min="-20" max="20" value="0" /></label>
        <label>1000 <input type="range" orient="vertical" name="filter.right.1000" class="config" min="-20" max="20" value="0" /></label>
        <label>2000 <input type="range" orient="vertical" name="filter.right.2000" class="config" min="-20" max="20" value="0" /></label>
        <label>4000 <input type="range" orient="vertical" name="filter.right.4000" class="config" min="-20" max="20" value="0" /></label>
        <label>8000 <input type="range" orient="vertical" name="filter.right.8000" class="config" min="-20" max="20" value="0" /></label>
      </div>
    </fieldset>
  </div>

  <div class="panel">
    <fieldset>
      <legend>Lowpass Filter</legend>

      <label>Cutoff frequency <input type="range" name="filter.lpf.freq" class="config" min="20" max="20000" value="20000" /></label>
      <label>Q <input type="range" name="filter.lpf.q" class="config" min="0.1" max="20" step="0.1" value="0.7" /></label>
    </fieldset>

    <fieldset>
      <legend>Highpass Filter</legend>

      <label>Cutoff frequency <input type="range" name="filter.hpf.freq" class="config" min="20" max="20000" value="20" /></label>
      <label>Q <input type="range" name="filter.hpf.q" class="config" min="0.1" max="20" step="0.1" value="0.7" /></label>
    </fieldset>
  </div>

  <div class="panel">
    <fieldset>
      <legend>Directionality</legend>

      <label>Enabled <input type="checkbox" name="directionality.enabled" class="config" />
      <label>Angle <input type="range" name="directionality.angle" class="config" min="-3.14" max="3.14" step="0.01" value="0" /></label>
    </fieldset>
  </div>

  <button class="start">Start</button>

  <script src="<%= TOOLKIT_JS_PATH %>/3dti-toolkit-has.js"></script>
  <script src="has.example.bundle.js"></script>
</body>
</html>
