<!DOCTYPE html>
<html>
<head>
  <title>3DTI JavaScript Wrapper Examples</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/examples.css">
</head>
<body>
  <h1>3DTI JavaScript Wrapper Examples</h1>

  <h3><a href="/has">Hearing Aid Simulator</a></h3>
  <h3><a href="/hls">Hearing Loss Simulator</a></h3>
  <h3><a href="/binaural">Binaural Spatialization</a></h3>

  <p>Serving JS files from <%= TOOLKIT_JS_PATH %></p>
</body>
</html>
